/.vscode
/.ipynb_checkpoints
/__pycache__
/Modules/__pycache__
/results*
/vits
/inference_wav
/wandb
*.pyc

/Modules/monotonic_align/__pycache__
/Modules/monotonic_align/build
/Modules/monotonic_align/monotonic_align/core.cp39-win_amd64.pyd
/Modules/monotonic_align/core.c

temp.py
*.pickle
Train_ALF_stochastic.py
Modules/Modules_ALF_stochastic.py
Modules/Stochastic_Duration_Predictor_Transforms.py
Modules/Stochastic_Duration_Predictor.py
Train.py
hificodec/HiFi-Codec-24k-320d
